{% extends "c19layout.html" %}

{% block title %}
    Calculator
{% endblock %}

{% block jumbo %}
    <h1>Risk Calculator</h1>
{% endblock %}

{% block body %}
    <h3 style="text-align: left">Top 18 U.S. Universities Infection Calculators</h3>
    <hr>
    <p style="text-align:center;font-family:Times New Roman, Times, serif"><u><strong>Instructions:</strong></u> Choose the marker corresponding to the university where your class is located!</p>
    <div id="map"></div>
    <hr>
    <footer style="padding-bottom:50px;font-family:Times New Roman, Times, serif;" class="small text-center text-muted">** This site has been created as a project for CS50 Fall 2020 by <a href="https://www.linkedin.com/in/paola-carrillo-gonzalez-87bb781a1/">Paola Carrillo Gonzalez</a> and <a href="https://www.linkedin.com/in/rafael-t-148425ba/">Rafael Trevino</a> **</footer>
{% endblock %}