{% extends "c19layout.html" %}

{% block title %}
    CDC
{% endblock %}

{% block jumbo %}
    <h1>CDC Guidlelines</h1>
{% endblock %}

{% block body %}

<h3 style="text-align:left">Center for Disease Control (CDC) COVID-19 Information</h3>
<hr>
<section style="text-align:left">
    <h2 style="padding-top:5px">PREVENTION</h2>
    <img src="/static/cdc_covid.png" style="float:right;margin-left:20px;margin-top:6px;border: 1px solid black" height="225" width="300"> </img>

    <p style="font-family:Times New Roman, Times, serif"> COVID-19 is known to be transmitted by aerosols and droplets expelled from the respiratory tract of an infected person coughing, sneezing, breathing, or speaking.
    The most effective means to mitigate the spread of SARS-CoV-2 is a combination of social distancing measures
    and the use of face masks. As with many common seasonal viruses, proper personal hygiene measures are also critical.
    Important modes of monitoring the virus include testing and contact tracing those who have been potentially exposed to an infected individual.
    Without a widespread treatment or a vaccine, these modes of mitigation are especially significant in controlling the spread of SARS-CoV-2.</p>

    <h5 style="font-family:Times New Roman, Times, serif;font-style:italic;" >To mitigate the transmission of the virus individuals should</h5>
    <li style="font-family:Times New Roman, Times, serif;padding-top:5px"> Wear mask covering their mouth AND nose whenever around others </li>
    <li style="font-family:Times New Roman, Times, serif"> Stay home when possible </li>
    <li style="font-family:Times New Roman, Times, serif"> Social distance with a minimum of 6 ft distance between you and others </li>
    <li style="font-family:Times New Roman, Times, serif"> Wash your hands for 20 seconds after coming in contact with outside objects </li>
</section>

<section style="text-align:left">
    <h2 style="padding-top:20px">EXPOSURE PROCEDURE</h2>
    <img src="https://i.ytimg.com/vi/F70BzSFAZfw/maxresdefault.jpg" style="float:left;margin-right:20px;margin-top:6px;border: 1px solid black" height="270" width="480"> </img>
    <p style="font-family:Times New Roman, Times, serif"> If you have come in close contact with anyone who has a positive confirmed COVID-19 test or has been experiencing symptoms, its important to distance yourself from loved ones and begin self-isolating. After
        isolating for about 4-5 days, to account for the incubation period of the virus, schedule an appointment with your primary care provider or testing site to take a COVID-19 exam.
    </p>

    <p style="font-family:Times New Roman, Times, serif;padding-bottom:120px"> Even if you don't begin to experience symptoms, its important still to self isolate and take a test to prevent further mitigation of the virus in the population. </p>

</section>

<hr>
<footer style="padding-bottom:75px;font-family:Times New Roman, Times, serif" class="small text-center text-muted"> ** For more information please visit
<a href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/prevention.html"> The Centers Of Disease Control and Infection</a> **
</footer>


{% endblock %}