{% extends "c19layout.html" %}

{% block title %}
    Probability
{% endblock %}

{% block jumbo %}
    <h1>Infection Probability</h1>
{% endblock %}

{% block body %}
    {% set infection_2 = infection | float %}

    {% if infection_2 < 1.0 %}
        <h3 style="padding-top: 90px">Your COVID-19 Infection Probability:</h3>
        <div class="green" style="padding-bottom: 15px">{{ infection_2 }}%</div>
        <a href="/policies"><button class="btn btn-default">Your College's COVID-19 Policies</button></a>
        <a href="/cdc"><button class="btn btn-default">Center for Disease Control (CDC) Guidelines</button></a>
    {% else %}
        <h3 style="padding-top: 90px">Your COVID-19 Infection Probability:</h3>
        <div class="red" style="padding-bottom: 15px">{{ infection_2 }}%</div>
        <a href="/policies"><button class="btn btn-default">Your College's COVID-19 Policies</button></a>
        <a href="/cdc"><button class="btn btn-default">Center for Disease Control (CDC) Guidelines</button></a>
    {% endif %}

    <hr>
    <section style="padding-bottom:50px">
        <footer style="font-family:Times New Roman, Times, serif;" class="small text-center text-muted">The modeling for probability was developed by <a href="https://projects.iq.harvard.edu/jdoyle/home"> The Harvard Doyle Research Group</a>. Proper assumptions and implementations created by the
    Fall 2020 ES96 Risk Analysis Team: Mythri Ambatipudi, Kazi Tasnim, and Paola Carrillo Gonzalez </footer>
    </section>
{% endblock %}