{% extends "c19layout.html" %}

{% block title %}
    Brown
{% endblock %}

{% block jumbo %}
    <h1>Brown University</h1>
    <div class = "img">
        <img src = "https://upload.wikimedia.org/wikipedia/en/thumb/3/31/Brown_University_coat_of_arms.svg/800px-Brown_University_coat_of_arms.svg.png" alt="Brown" align="right" style="width:50px;height: 60px;">
    </div>
{% endblock %}

{% block body %}
    <h3 style="text-align:left">Brown University Calculator</h3>
    <hr>
    <form action="/browncalc" method="post">
        <p style="text-align:center;font-family:Times New Roman, Times, serif"><strong><u>Instructions:</u></strong> Please estimate the values below (depending on your classroom location) to the best of your ability then click <strong><red>"Calculate"</red></strong>!</p>
        <iframe style="margin-bottom:15px;border:1px solid black" width="1100" height="450" src="https://tableau.brown.edu/t/PublicContent/views/BrownUniversityCOVID-19Tracking/COVID-19AsymptomaticTesting?:isGuestRedirectFromVizportal=y&:embed=y" frameborder="0" style="border:0" allowfullscreen></iframe>
        <div class="form-group">
            Positivity Rate (%):
            <input autocomplete="off" autofocus class="form-control" name="positivity" placeholder="Rate" type="number" step="0.01" min="0.00"/>
        </div>
        <div class="form-group">
            Classroom Dimensions (ft): Length
            <input autocomplete="off" autofocus class="form-control" name="length" placeholder="Classroom Length" type="number" step="0.01" min="0.00"/>
            Width
            <input autocomplete="off" autofocus class="form-control" name="width" placeholder="Classroom Width" type="number" step="0.01" min="0.00"/>
            Height
            <input autocomplete="off" autofocus class="form-control" name="height" placeholder="Classroom Height" type="number" step="0.01" min="0.00"/>
        </div>
        <div class="form-group">
            Length of time in class (hours):
            <input autocomplete="off" autofocus class="form-control" name="time" placeholder="Class Time" type="number" step="0.01" min="0.00"/>
        </div>
        <div class="form-group">
            Estimated number of students attending class:
            <input autocomplete="off" autofocus class="form-control" name="students" placeholder="Students" type="number" step="0.01" min="0.00"/>
        </div>
        <div class="form-group">
            Number of classes per semester:
            <input autocomplete="off" autofocus class="form-control" name="classes" placeholder="Classes" type="number" step="0.01" min="0.00"/>
        </div>
        <div class="form-group">
            <i>Optionally Include</i>: Air Exchange Rate (ACPH)
            <input autocomplete="off" autofocus class="form-control" name="airex" placeholder="Air Exchange" type="number" step="0.01" min="0.00"/>
            <i> Optionally Include</i>:Mask Filtration Efficiency
            <input autocomplete="off" autofocus class="form-control" name="filtration" placeholder="Efficiency" type="number" step="0.01" min="0.00" max="1.00"/>
        </div>
        <div class="form-group">
            <a href="/probability"><button class="btn btn-default" type="submit"><strong><red>Calculate</red></strong></button></a>
        </div>
    </form>
{% endblock %}